.mainBody {
  margin-top: 8%;
}
footer {
  background-color: grey;
  height: 40px;
  width: 100%;
  text-align: center;
}
img {
  float: left;
  margin-right: 5%;
}
.btn-right {
  float: right;
}
.productContainer {
  height: 350px;
  max-height: 1500px;
}
#description {
  font-size: 50%;
}
@media screen and (min-width: 640px) {
  #description {
    font-size: 100%;
  }
}

.less {
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.text-size {
  display: block;
  text-align: right;
  padding-top: 10px;
  color: blue !important;
  cursor: pointer;
}
.readmorelink{
display: none;
}
