<div class="productTable">
  <div class="row">
    <div class="col-md-3">
      <input type="number" name="ID" value="" placeholder="ID"/>
    </div>
    <div class="col-md-3">
      <input type="text" name="Name" value="" placeholder="Name"/>
    </div>
    <div class="col-md-3">
      <input type="text" name="Status" value="" placeholder="Status"/>
    </div>
    <div class="col-md-3">
      <input type="text" name="Description" value="" placeholder="Description"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      ID
    </div>
    <div class="col-md-3">
      Name
    </div>
    <div class="col-md-3">
      Status
    </div>
    <div class="col-md-3">
      Description
    </div>
  </div>
</div>
